<div id="mainbody">
<h2>Editing Escalation level</h2>

<%= render 'form' %>

<div class="serverlist">
<%= link_to_modal  'Show', @escalation_level %> |
<%= link_to 'Back', escalation_levels_path %>
</div>
</div>
