<p>
  <strong>Name:</strong>
  <%= @escalation_level.name %>
</p>

<div class="serverlist">
<%= link_to 'Edit', edit_escalation_level_path(@escalation_level) %> |
<%= link_to 'Back', escalation_levels_path %>
</div>
