<div id="mainbody">
<h2>Editing Backup strategy</h2>

<%= render 'form' %>

<div class="serverlist">
<%= link_to_modal  'Show', @backup_strategy %> |
<%= link_to 'Back', backup_strategies_path %>
</div>
</div>
