<div id="mainbody">
<h2>Editing Application type</h2>

<%= render 'form' %>

<div class="serverlist">
<%= link_to_modal  'Show', @application_type %> |
<%= link_to 'Back', application_types_path %>
</div>
</div>
