<div id="mainbody">
<h2>Editing Application user type</h2>

<%= render 'form' %>

<div class="serverlist">
<%= link_to_modal  'Show', @app_user_type %> |
<%= link_to 'Back', app_user_types_path %>
</div>
</div>
