<div id="mainbody">
<h2>Editing Support contact</h2>

<%= render 'form' %>

<div class="serverlist">
<%= link_to_modal  'Show', @support_contact %> |
<%= link_to 'Back', support_contacts_path %>
</div>
</div>
