<div id="mainbody">
<h2>Editing Database instance</h2>

<%= render 'form' %>

<div class="serverlist">
<%= link_to_modal  'Show', @db_instance %> |
<%= link_to 'Back', db_instances_path %>
</div>
</div>
