<div id="mainbody">
<h2>Editing Operating system</h2>

<%= render 'form' %>

<div class="serverlist">
<%= link_to_modal  'Show', @operating_system %> |
<%= link_to 'Back', operating_systems_path %>
</div>
</div>
