<div id="mainbody">
<h2>Editing Warranty type</h2>

<%= render 'form' %>

<div class="serverlist">
<%= link_to_modal  'Show', @warranty_type %> |
<%= link_to 'Back', warranty_types_path %>
</div>
</div>
