<div id="mainbody">
<h2>Editing Support group</h2>

<%= render 'form' %>

<div class="serverlist">
<%= link_to_modal  'Show', @support_group %> |
<%= link_to 'Back', support_groups_path %>
</div>
</div>
