<p>
  <strong>Name:</strong>
  <%= @support_group.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @support_group.description %>
</p>

<div class="serverlist">
<%= link_to 'Edit', edit_support_group_path(@support_group) %> |
<%= link_to 'Back', support_groups_path %>
</div>
