<div id="mainbody">
<h2>Editing Service level</h2>

<%= render 'form' %>

<div class="serverlist">
<%= link_to_modal  'Show', @service_level %> |
<%= link_to 'Back', service_levels_path %>
</div>
</div>
