<div id="mainbody">
<h2>Editing Database job frequency</h2>

<%= render 'form' %>

<div class="serverlist">
<%= link_to_modal  'Show', @db_job_freq %> |
<%= link_to 'Back', db_job_freqs_path %>
</div>
</div>
