<div id="mainbody">
<h2>Editing Operation level</h2>

<%= render 'form' %>

<div class="serverlist">
<%= link_to_modal  'Show', @operation_level %> |
<%= link_to 'Back', operation_levels_path %>
</div>
</div>
