<div id="mainbody">
<h2>Editing Disaster recovery shutdown stages</h2>

<%= render 'form' %>

<div class="serverlist">
<%= link_to_modal  'Show', @dr_shutdown_stage %> |
<%= link_to 'Back', dr_shutdown_stages_path %>
</div>
</div>
