<p>
  <strong>Name:</strong>
  <%= @impact_level.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @impact_level.description %>
</p>

<div class="serverlist">
<%= link_to 'Edit', edit_impact_level_path(@impact_level) %> |
<%= link_to 'Back', impact_levels_path %>
</div>
