<!DOCTYPE html>
<html>
<head>
  <title>Package release management</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
 <div id="banner">
 <div id="heading">
  <div id="logo">
  <%= image_tag("Company_logo.gif", :width => 64, :height => 64) %>
  </div>
  <div id="title">
  <h2>Infrastructure inventory management</h2>
  </div>
 </div> <!-- heading -->
