<div id="mainbody">
<h2>Editing Database job status</h2>

<%= render 'form' %>

<div class="serverlist">
<%= link_to_modal  'Show', @db_job_status %> |
<%= link_to 'Back', db_job_statuses_path %>
</div>
</div>
