<p>
  <strong>Name:</strong>
  <%= @db_job_status.name %>
</p>

<div class="serverlist">
<%= link_to 'Edit', edit_db_job_status_path(@db_job_status) %> |
<%= link_to 'Back', db_job_statuses_path %>
</div>
