<div id="mainbody">
<h2>Editing Database job type</h2>

<%= render 'form' %>

<div class="serverlist">
<%= link_to_modal  'Show', @db_job_type %> |
<%= link_to 'Back', db_job_types_path %>
</div>
</div>
