<p>
  <strong>Name:</strong>
  <%= @db_repl_type.name %>
</p>

<div class="serverlist">
<%= link_to 'Edit', edit_db_repl_type_path(@db_repl_type) %> |
<%= link_to 'Back', db_repl_types_path %>
</div>
