<div id="mainbody">
<h2>Editing Operation status</h2>

<%= render 'form' %>

<div class="serverlist">
<%= link_to_modal  'Show', @operation_status %> |
<%= link_to 'Back', operation_statuses_path %>
</div>
</div>
