<div id="mainbody">
<h2>Editing Database scheduled job</h2>

<%= render 'form' %>

<div class="serverlist">
<%= link_to_modal  'Show', @db_scheduled_job %> |
<%= link_to 'Back', db_scheduled_jobs_path %>
</div>
</div>
