<div id="mainbody">
<h2>Editing Database replication status</h2>

<%= render 'form' %>

<div class="serverlist">
<%= link_to_modal  'Show', @db_repl_status %> |
<%= link_to 'Back', db_repl_statuses_path %>
</div>
</div>
