<p>
  <strong>Name:</strong>
  <%= @db_repl_status.name %>
</p>

<div class="serverlist">
<%= link_to 'Edit', edit_db_repl_status_path(@db_repl_status) %> |
<%= link_to 'Back', db_repl_statuses_path %>
</div>
