<div id="mainbody">
<h2>Editing Database replication frequency</h2>

<%= render 'form' %>

<div class="serverlist">
<%= link_to_modal  'Show', @db_repl_freq %> |
<%= link_to 'Back', db_repl_freqs_path %>
</div>
</div>
