<p>
  <strong>Name:</strong>
  <%= @db_repl_freq.name %>
</p>

<div class="serverlist">
<%= link_to 'Edit', edit_db_repl_freq_path(@db_repl_freq) %> |
<%= link_to 'Back', db_repl_freqs_path %>
</div>
