<div id="mainbody">
<h2>Editing Active Directory domain</h2>

<%= render 'form' %>

<div class="serverlist">
<%= link_to_modal  'Show', @ad_domain %> |
<%= link_to 'Back', ad_domains_path %>
</div>
</div>
