// Place all the styles related to the Db_names controller here.
// They will automatically be included in dblication.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#dbsubmenu {
  background-color: #606060;
  width: 100%;
  height: 1.2em;
}
ul.dbsubmenubar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
ul.dbsubmenubar li {
  float: left;
}
ul.dbsubmenubar li a:link, ul.dbsubmenubar li a:visited {
  display: block;
  //width: 140px;
  font-weight: bold;
  font-size: 80%;
  color: #ffffff;
  background-color: #606060; //#dee5f0;
  text-align: center;
  padding: 2px 10px 2px 10px;
  text-decoration: none;
  //text-transform: uppercase;
  border-right: 1px solid #606060;
}
ul.dbsubmenubar li a:hover, ul.dbsubmenubar li a:active {
  background-color: #dee5f0;
  color: #606060;
}
table.dbsubmenutable {
  // background-color: #dee5f0;
  input[type=text], input[type=radio] {
    margin: 0px 0px 0px 15px;
    display: block;
}
}
table.dbsubmenutable tr {
    text-align: left;
}
table.dbsubmenutable tr.pol_row_light {
  background-color: #fff;
}
table.dbsubmenutable tr.pol_row_dark {
  background-color: #dee5f0;
}
table.dbsubmenutable tr.pol_row_head {
  background-color: #ccc;
}
table.dbsubmenutable th {
  text_align: center;
  padding: 2px 5px 2px 5px;
}
.dbsubmenutable td {
  padding-left: 10px;
}
 table.dbsubmenutable td input {
  padding-left: 50px;
}