<div id="mainbody">
<h2>Editing Enterprise application</h2>

<%= render 'form' %>

<div class="serverlist">
<%= link_to_modal  'Show', @enterprise_application %> |
<%= link_to 'Back', enterprise_applications_path %>
</div>
</div>
