<p>
  <strong>Name:</strong>
  <%= @db_package_type.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @db_package_type.description %>
</p>

<div class="serverlist">
<%= link_to 'Edit', edit_db_package_type_path(@db_package_type) %> |
<%= link_to 'Back', db_package_types_path %>
</div>