<p>
  <strong>Name:</strong>
  <%= @package_architecture.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @package_architecture.description %>
</p>

<div class="serverlist">
<%= link_to 'Edit', edit_package_architecture_path(@package_architecture) %> |
<%= link_to 'Back', package_architectures_path %>
</div>